<div class="container text-center">
  <%= link_to "Finished Editing", recipe_path(@recipe), class: "text-primary" %>
  <% @addedInstructions.each do |i| %>
    <div class="container">
    <div class="row single-instruction-area">
      <div class="col-md">
        <%= link_to "Edit...", edit_recipe_instruction_path(@recipe, i), class: "text-primary" %>
        <div class="instruction-text">
          <%= simple_format(i.body) %>
        </div>
      </div>
      <% if i.picture.attached? %>
        <div class="instruction-picture">
          <%= image_tag i.picture.variant(resize: "250x250")%>
        </div>
      <% end %>

      <%= link_to "Delete", [@recipe, i], method: :delete, data: {confirm: "Are you sure?"}, class: "text-danger" %>
    </div>
    <br>
  </div>
  <% end %>
  <%= form_with(model: @instruction, url: [@recipe, @instruction], local: true) do |form| %>
    <%= form.text_area :body, rows: "15", class: "form-control rounded-20", placeholder: "Instructions..." %>
    <hr>
    <%= form.file_field :picture %>
    <br>
    <br>
    <%= form.submit "Add Instruction" %>
  <% end %>
</div>
