<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title, class: "form-control", placeholder: "Title..." %>
  <hr>
  <h4> Instructions </h4>
  <%= form.text_area :ingredients, rows: "15", class: "form-control rounded-20", placeholder: "Body..." %>
  <hr>
  <%= form.text_field :tags, class: "form-control", placeholder: "breakfast;lunch;yum;..." %>
  <%= form.file_field :picture %>

  <div class="actions">
    <%= form.submit "Commit and Edit Instructions" %>
  </div>
<% end %>
