<!DOCTYPE html>
<html>
  <head>
    <title>WhitelineRecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <%= link_to "Whiteline Recipes", recipes_url, class: "navbar-brand" %>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if user_signed_in? %>
              <%= link_to :logout, destroy_user_session_path, method: "delete" %>
              <br>
              <%= link_to "edit password", edit_user_registration_path %>
            <% else %>
              <%= link_to :login, new_user_session_path %>
            <% end %>
            <br>
            <%= link_to 'New Recipe', new_recipe_path %>
          </div>
        </div>
      </div>
    </nav>
  </head>

  <br>
  <br>
  <br>
  <body>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
